@font-face {
  font-display: swap;
  font-family: "dejavu_sanscondensed_book";
  src: url("../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/");
  src: url("../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/?#iefix") format("embedded-opentype"), url("../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/DejaVuSansCondensed-webfont.woff2") format("woff2"), url("../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/DejaVuSansCondensed-webfont.woff") format("woff"), url("../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/DejaVuSansCondensed-webfont.ttf") format("truetype"), url("../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/DejaVuSansCondensed-webfont.svg#dejavu_sanscondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dejavu_sans_bold";
  src: url("../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/");
  src: url("../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/?#iefix") format("embedded-opentype"), url("../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.woff2") format("woff2"), url("../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.woff") format("woff"), url("../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.ttf") format("truetype"), url("../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.svg#dejavu_sansbold_oblique") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  font-family: "dejavu_sanscondensed_book", sans-serif, monospace;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

span strong {
  font-family: "dejavu_sans_bold", sans-serif, monospace;
  font-weight: 300;
}

#mobile-toggle {
  height: 25px;
  margin: 0 auto;
  padding: 0;
}

#hamburger {
  background: #333;
  border-radius: 10px;
  display: block;
  float: right;
  height: 3px;
  margin: 0 1em;
  margin-top: 0.75em;
  position: relative;
  width: 40px;
}

#hamburger::before,
#hamburger::after {
  background: #333;
  border-radius: 10px;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 40px;
}

#hamburger:active,
#hamburger:active::before,
#hamburger:active::after {
  transform: blur(5px);
}

#hamburger::before {
  top: 7px;
}

#hamburger::after {
  bottom: 7px;
}

#close {
  cursor: pointer;
  font-size: 1.5em;
  padding: 1 1em 1em 0;
  transition: transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.lazy {
  transition: 3s ease;
  -webkit-transition: opacity 3s ease;
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 250ms ease;
  transition: 250ms ease;
  -webkit-transition: opacity 250ms ease;
  opacity: 1;
}

.add-shadow {
  box-shadow: 0px 1px 13px 0.0125px #666;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}

.row {
  align-items: center;
  background: #fff;
  display: flex;
  margin: 0 auto;
  padding: 2em 0;
  position: sticky;
  top: 0;
  transition: padding 250ms ease;
  -webkit-transition: all 250ms ease;
  z-index: 2;
  width: 100%;
}
.row .logo {
  display: none;
  margin: 0 auto;
  padding-left: 0.25em;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
  -webkit-transition: opacity 250ms ease-in-out;
  width: auto;
  max-width: 25vw;
}
.row .logo-visible {
  display: block;
  margin: 0 auto;
  min-height: 100px;
  min-width: 100vw;
  width: 100%;
  opacity: 1 !important;
  padding: 0 1em;
  width: auto;
}
.row .main-nav {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.row .main-nav ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none inside;
  margin: 0 auto;
  max-width: 968px;
}
.row .main-nav ul li {
  display: inline-block;
  margin: 0 auto;
}
.row .main-nav ul li a {
  color: #3d3d3d;
  text-decoration: none;
  font-weight: 700;
  padding: 0.25em 0.5em;
  position: relative;
}
.row .main-nav ul li a:after {
  background-image: linear-gradient(0.25turn, #3d3d3d, #7d5fff, #fff200);
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: -7px;
  transition: all 250ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
}
.row .main-nav ul li a:hover:after {
  transform: scaleX(1);
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  display: block;
  height: 50px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  width: 100%;
}
.mobile-nav .col {
  width: 100%;
}
.mobile-nav .col .main-nav ul {
  background: #eee;
  flex-direction: column;
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  padding: 0 2.5em;
  transition: all 250ms ease-in-out;
  transform-origin: left;
  width: 100%;
  -webkit-transition: all 250ms ease-in-out;
}
.mobile-nav .col .main-nav ul li {
  display: block;
  text-align: left;
}

.main-header {
  background: #ffffff url("../images/meal-time.jpg") no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  grid-template-rows: auto 2fr 1fr;
  grid-gap: 1em;
  min-height: 100vh;
}
.main-header .grid-item-1 {
  background-color: #3d3d3d;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: right;
}
.main-header .grid-item-2 {
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-content: center;
  text-align: center;
}
.main-header .grid-item-2 h1 {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  margin: 0 auto;
  text-shadow: 0 0 2px #000;
}
.main-header .grid-item-3 {
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
  justify-content: center;
  text-align: center;
}
.main-header .grid-item-3 .chevron {
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-bottom: 7px solid #fff;
  display: block;
  height: 75px;
  margin: 0 auto;
  width: 75px;
  transform: rotate(45deg);
}

.article-list {
  align-items: grid-start;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  justify-content: center;
  padding: 1.25em;
}
.article-list .sidebar {
  display: block;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 auto;
  width: 100%;
}
.article-list .sidebar ul {
  list-style: none;
  padding: 0;
}
.article-list .sidebar ul li a {
  color: #4b4b4b;
  display: block;
  padding: 0.25em 1em;
  text-decoration: none;
}
.article-list .sidebar ul li:nth-child(odd) {
  background: #fff;
}
.article-list .sidebar ul li:nth-child(even) {
  background: #eee;
}
.article-list .post-card {
  position: relative;
}
.article-list .post-card .post-card-footer {
  position: absolute;
  bottom: 0;
}
.article-list .single-page {
  align-self: center;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 4;
  max-width: 60ch;
}

.post-card-image + a {
  display: block;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
}

.site-footer {
  background: #333;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 48px;
  min-height: 25vh;
}
.site-footer .row:first-child {
  align-items: center;
  background: #4b4b4b;
  display: grid;
  grid-template-columns: repeat(1fr, 100%);
  justify-content: center;
}
.site-footer .row:first-child .col {
  padding: 0 1em;
  text-align: center;
  width: 100%;
}
.site-footer .row:first-child .col a:first-of-type {
  color: #e6e6e6;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 4px;
  text-decoration: none;
}
.site-footer .row:first-child .col ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 2em;
  width: auto;
}
.site-footer .row:first-child .col ul li {
  display: block;
  padding: 0 0.75em;
  text-align: left;
}
.site-footer .row:first-child .col ul li a {
  color: #fff;
}
.site-footer .row:nth-child(2) {
  background: #3d3d3d;
}
.site-footer .row:nth-child(2) p {
  margin: 0 auto;
  text-align: center;
}
.site-footer .row:nth-child(2) p a {
  color: #fff200;
  position: relative;
  text-decoration: none;
}
.site-footer .row:nth-child(2) p a:hover::after {
  transform: scaleX(1);
}
.site-footer .row:nth-child(2) p a:after {
  background: #7d5fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
  width: 100%;
}

/**********************
** Media Queries***
***********************/
@media screen and (min-width: 768px) {
  .article-list {
    grid-template-columns: repeat(2, 50%);
  }
  .article-list .sidebar {
    float: right;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin: 0 auto;
    width: 50%;
  }

  .site-footer .row {
    grid-template-columns: 1fr 4fr;
  }
  .site-footer .row .col:first-child {
    text-align: center;
  }
  .site-footer .row .col:not(:first-child) {
    padding: 0;
  }
  .site-footer .row .col:not(:first-child) ul {
    padding: 0;
  }
  .site-footer .row .col:not(:first-child) ul li {
    display: inline-block;
    padding: 1em 0;
  }
  .site-footer .row .col:not(:first-child) ul li a {
    font-size: 0.66em;
    letter-spacing: initial;
    line-height: initial;
  }
}
@media screen and (min-width: 968px) {
  .wrapper {
    margin: 0 auto;
  }

  .mobile-nav {
    display: none;
  }

  .desktop-nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .article-list {
    margin: 1em auto;
    max-width: 968px;
    grid-template-columns: repeat(2, 50%);
  }
}
@media screen and (min-width: 1365px) {
  .article-list {
    margin: 1em auto;
    max-width: 968px;
    grid-template-columns: repeat(3, 33%);
  }
  .article-list .sidebar {
    width: 100%;
  }
}
@media screen and (min-width: 1920px) {
  main#content {
    padding: 0em 1em;
  }

  .article-list {
    margin: 1em auto;
    max-width: 968px;
    grid-template-columns: repeat(3, 33.333333333%);
    grid-gap: 1.5em;
  }

  .site-footer .row .col {
    margin: 0 auto;
    padding: 0 5em;
  }
}

/*# sourceMappingURL=main.css.map */
