<div class="carousel">
  <div class="slide-container">
    <div class="slide" style="background-image: url('https://source.unsplash.com/1920x1080/?meal');">
        <h1> <a href="{{ .Site.BaseURL}}" title="{{.Site.Title}}">Quick E Recipes</a></h1>
    </div>
    <div class="slide" style="background-image: url('https://source.unsplash.com/1920x1080/?honey,bees');">
      <h1> <a href="{{ .Site.BaseURL}}" title="{{.Site.Title}}">Quick E Recipes</a></h1>
  </div>
  <div class="slide" style="background-image: url('https://source.unsplash.com/1920x1080/?cherry, tree');">
      <h1> <a href="{{ .Site.BaseURL}}" title="{{.Site.Title}}">Quick E Recipes</a></h1>
  </div>
  </div>
</div>

