@font-face {
  font-family: 'dejavu_sanscondensed_book';
  src: url('../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/');
  src: url('../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/?#iefix') format('embedded-opentype'),
       url('../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/DejaVuSansCondensed-webfont.woff2') format('woff2'),
       url('../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/DejaVuSansCondensed-webfont.woff') format('woff'),
       url('../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/DejaVuSansCondensed-webfont.ttf') format('truetype'),
       url('../dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/DejaVuSansCondensed-webfont.svg#dejavu_sanscondensed') format('svg');
  font-weight: normal;
  font-style: normal;
  font-swap: swap;
}

@font-face {
  font-family: 'dejavu_sans_bold';
  src: url('../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/');
  src: url('../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/?#iefix') format('embedded-opentype'),
       url('../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.woff2') format('woff2'),
       url('../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.woff') format('woff'),
       url('../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.ttf') format('truetype'),
       url('../dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.svg#dejavu_sansbold_oblique') format('svg');
  font-weight: normal;
  font-style: normal;
  font-swap: swap;
}

$light-slate-blue: rgba(125, 95, 255,1.0);
$shadowed-steel: rgba(75, 75, 75,1.0);
$baltic-sea: rgba(61, 61, 61,1.0);
$dorn-yellow: rgba(255, 242, 0,1.0);

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  font-family: 'dejavu_sanscondensed_book', sans-serif, monospace;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;

}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

span strong {
  font-family: 'dejavu_sans_bold', sans-serif, monospace;
  font-weight: 300;
}


#hamburger {
  background: #333;
  border-radius: 10px;
  display: block;
  height: 3px;
  margin: 0 1em;
  position: relative;
  width: 40px;
}

#hamburger::before,
#hamburger::after {
  background: #333;
  border-radius: 10px;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  width: 40px;
}

#hamburger:active,
#hamburger:active::before,
#hamburger:active::after {
  transform: blur(5px);
}

#hamburger::before {
  top: 7px;
}

#hamburger::after {
  bottom: 7px;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// .grid-item:nth-child(3n-2) {
//  visibility: hidden;
// }

.lazy {
  transition: 3s ease;
  -webkit-transition: opacity 3s ease;
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 250ms ease;
  transition: 250ms ease;
  -webkit-transition: opacity 250ms ease;
  opacity: 1;
}

// .slideInLeft:nth-child(3n-2) {
//   animation: slideInLeft 1s ease;
//   animation-delay: 2s;
//   // visibility: visible;
//   transition: 500ms ease;
// }

.add-shadow {
  box-shadow: 0px 1px 13px .0125px #666;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}

.row {
  align-items: center;
  background: #fff;
  display: flex;
  margin: 0 auto;
  padding: 2em 0;
  position: sticky;
  top: 0;
  transition: padding 250ms ease;
  -webkit-transition: all 250ms ease;
  z-index: 2;
  width: 100%;
  .logo {
    display: none;
    margin: 0 auto;
    padding-left: .25em;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    -webkit-transition: opacity 250ms ease-in-out;
    width: auto;
    max-width: 25vw;
  }

  .logo-visible {
    display: block;
    opacity: 1 !important;
  }
  .main-nav {
    display: block;
    margin: 0 auto;
    width: 100%;
    // &:after {
    //   background: linear-gradient(0.25turn, #000, #333, #666);
    //   content: '';
    //   display: block;
    //   height: 1px;
    //   margin: 0 auto;
    //   width: 100%;
    // }
    ul {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      list-style: none inside;
      margin: 0 auto;
      max-width: 968px;
      li {
        display: inline-block;
        margin: 0 auto;
        a {
          color: $baltic-sea;
          text-decoration: none;
          font-weight: 700;
          padding: .25em .5em;
          position: relative;
          &:after {
            background-image: linear-gradient(0.25turn, $baltic-sea, $light-slate-blue, $dorn-yellow);
            content: '';
            display: block;
            height: 2px;
            position: absolute;
            bottom: -7px;
            transition: all 250ms ease-in-out;
            transform: scaleX(0);
            transform-origin: left;
            width: 100%;
          }
          &:hover:after {
                transform: scaleX(1); 
              }
          }
        }

      }
    }
  }

.main-header {
    background: #ffffff url('../images/meal-time.jpg') no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    grid-template-rows: auto 2fr 1fr;
    grid-gap: 1em;
    min-height: 100vh;
    .grid-item-1 {
        background-color: $baltic-sea;
        color: #fff;
        font-size: 1em;
        font-weight: 600;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end : 1;
        text-align: right;
    }

    .grid-item-2 {
        align-self: center;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
        justify-content: center;
        text-align: center;
        h1 {
            color: #fff;
            font-size: 3em;
            font-weight: bold;
            margin: 0 auto;
            text-shadow: 0 0 2px #000;
        }
    }
    .grid-item-3 {
        align-self: center;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
        justify-content: center;
        text-align: center;
        .chevron {
            border-top: 7px solid transparent;
            border-left: 7px solid transparent;
            border-right: 7px solid #fff;
            border-bottom: 7px solid #fff;
            display: block;
            height: 75px;
            margin: 0 auto;
            width: 75px;
            transform: rotate(45deg);
        }
    }

}

.article-list {
    align-items: grid-start;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-gap: 1em;
    justify-content: center;
    padding: 1.25em;
    .sidebar {
      display: block;
      margin: 0 auto;
      ul {
        list-style: none;
        padding: 0;
      }
    }
    .post-card {
      position: relative;
        .post-card-body {
        }
        .post-card-footer {
          position: absolute;
          bottom: 0;
            
        }
    }
    .single-page {
      align-self: center;
      justify-self: center;
      grid-column-start: 2;
      grid-column-end: 4;
      max-width: 60ch;
    }
}

.post-card-image + a {
  display: block;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
}


.site-footer {
  background: #333;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 48px;
  min-height: 25vh;
  .row:first-child {
    align-items: center;
    background: $shadowed-steel;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    .col {
      padding: 0 0em;
      text-align: center;
      ul {
        list-style: none;
        margin: 0 auto;
        padding-left: 2em;
        width: auto;
        li  {
          display: inline-block;
          padding: 0 .75em;
          text-align: left;
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .row:nth-child(2) {
    background: $baltic-sea;
    p {
      margin: 0 auto;
      text-align: center;
      a {
        color: $dorn-yellow;
        position: relative;
        text-decoration: none;
        &:hover::after {
          transform: scaleX(1);
        }
        &:after {
          background: $light-slate-blue;
          content: '';
          display: block;
          height: 2px;
          position: absolute;
          bottom: -3px;
          left: 0;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 250ms ease-in-out;
          width: 100%;
      
        }
      }
    }
  }
}










/**********************
** Media Queries***
***********************/
@media screen and (min-width: 768px) {
    .article-list {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (min-width: 968px) {
    .wrapper {
        margin: 0 auto;
    }
    .article-list {
        margin: 1em auto;
        max-width: 968px;
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (min-width: 1365px) {
  .article-list {
    margin: 1em auto;
    max-width: 1365px;
    grid-template-columns: repeat(3, 33%);
}
}

@media screen and (min-width: 1920px) {
  main#content {
    padding: 0em 1em;
  }
  .article-list {
    margin: 1em auto;
    max-width: 1365px;
    grid-template-columns: repeat(3, 33.333333333%);
    grid-gap: 1.5em;
}
}
