<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Quick E Recipes - Making Cooking Easy{{ end }}"
  />
  <meta name="author" content="Andrew M McCall @elkcityhazard" />
  <title>
    {{if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Params.title}} - {{ .Site.Title}} {{ end }}
  </title>
  <link rel="stylesheet" href="/css/main.css" />
  <link
    rel="preload"
    href="{{ .Site.BaseURL}}dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/DejaVuSansCondensed-webfont.woff2"
  />
  <link
    rel="preload"
    href="{{ .Site.BaseURL}}dejavu-sans/web-fonts/dejavusanscondensed_book_macroman/DejaVuSansCondensed-webfont.woff"
  />
  <link rel="preload" href="{{ .Site.BaseURL}}dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.woff">
  <link rel="preload" href="{{ .Site.BaseURL}}dejavu-sans/web-fonts/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.woff2">

</head>
